<div class="backups page">
	<table id="backups" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>Date</span></th>
        <th><span>Size</span></th>
        <th><span></span></th>
      </tr>
    </thead>
    <tbody>
    {% for backup in backups %}
      <tr>
        <td class="lalign"><a href="/static/db_backups/{{ backup[2] }}">{{ backup[0] }}</td>
        <td>{{ backup[1] }}</td>
        <td><input type="checkbox"></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  
  <div class="settings-controls-container">
	<div class="settings-image-container"></div>
	  <div class="settings-buttons-container">
		<button id="create-backup-button" class="save-button">Create</button>
		<button id="restore-backup-button" class="test-button" >Restore selected</button>
		<button id="delete-backup-button" class="delete-button" >Delete selected</button>
		<button id="upload-backup-button" class="upload-button" >Upload</button>
	  </div>
	</div>
	<!-- todo upload function with button -->
</div>