<div class="main-settings-container">
	<ul class="settings-list">
		<li>
		<label>Server status</label> <input type="text" name="name" value={{ status_server }}>
		</li>
		<li>
		<label>Runner status</label> <input type="text" name="password" value={{ status_runner }}>
		</li>
	</ul>
	<div class="settings-controls-container">
		<div class="settings-image-container"></div>
			<div class="settings-buttons-container">
				<button id="restart-server-button" class="test-button">Restart Server</button>
				<button id="restart-runner-button" class="test-button">Restart Runner</button>
		</div>
	</div>
</div>