<div class="main-settings-container">
<form id="db-settings-form" method="POST" action="/db_settings">
	<ul class="settings-list">
		<li>
		<label>Database Name</label> <input type="text" name="db_name" value={{ db_name }}>
		</li>
		<li>
		<label>Database Password</label> <input type="text" name="db_password" value={{ db_password }}>
		</li>
		<li>
		<li>
		<label>User Password</label> <input type="text" name="user_password" value={{ user_password }}>
		</li>
	</ul>
	<div class="settings-controls-container">
		<div class="settings-image-container"></div>
			<div class="settings-buttons-container">
				<button id="database-settings-save-button" class="save-button">Save</button>
		</div>
	</div>
</form>
</div>