<div class="main-settings-container">
<form id="db-settings-form" method="POST" action="/db_settings">
	<ul class="settings-list">
		<li>
		<label>Name</label> <input type="text" name="name" value={{ name }}>
		</li>
		<li>
		<label>Password</label> <input type="text" name="password" value={{ password }}>
		</li>
	</ul>
	<div class="settings-controls-container">
		<div class="settings-image-container"></div>
			<div class="settings-buttons-container">
				<button id="database-settings-save-button" class="save-button">Save</button>
		</div>
	</div>
</form>
</div>