{% extends "index.html" %} {% block images %}
<div class="all-products page">

	<div class="filters">
		<form>
			<div class="filter-criteria">
				<span>Filter</span> <label><input type="checkbox"
					name="flag" value="0">Successful recognized</label> <label><input
					type="checkbox" name="flag" value="7">Preprocessing error</label> <label><input
					type="checkbox" name="flag" value="2">Not trained</label> <label><input
					type="checkbox" name="flag" value="3">Invalid value</label> <label><input
					type="checkbox" name="flag" value="4">Digit(s) not
					recognized</label> <label><input type="checkbox" name="flag"
					value="5">Not enought digits</label> <label><input
					type="checkbox" name="flag" value="6">Deleted</label> <label><input
					type="checkbox" name="flag" value="1">Recognized, not validated</label>
			</div>
			<!-- button class="clear-filters-button">Clear filters</button-->
			<button class="recognize-all-button">Recognize all</button>
		</form>
	</div>

	<ul class="products-list" id={{ meter_id }}>
		{% for image in images %}
		<li id="{{ image.time }}" data-index="{{ image.id }}" flag={{image.flag }}>
			<a href="#" class="product-photo"><img class="lazy"
				data-original="static/images/{{ image.name.replace('.png', '_preview.png') }}" width="200"
				height="130" /></a>
			<h2>
				<a href="#"> {{ image.time }} </a>
			</h2>
			<ul class="product-description">
				<li><span>Meter value: </span>{{ image.value }}</li>
				<li><span>Status: </span>{{ image.flag }}</li>
				<li><span>Previous value: </span>TODO</li>
				<li><span>Next value: </span>TODO</li>
			</ul>
			<button>Edit</button>
			<div class="highlight"></div>
		</li> {% endfor %}
	</ul>
	
</div>
{% endblock %}
