<!DOCTYPE html>
<html>
<head lang="en">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">

<title>RaspiMeter</title>

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400"
	rel="stylesheet">
{% assets "css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
</head>
<body>
	<header class="compact">

		<div class="sitename-logo">
			<h1>
				<a href="#">RaspiMeter</a>
			</h1>
		</div>

		<div class="top-menu">
			<ul class="top-menu-list">
				<li><a id="chart-link" href="/">Charts</a></li>
				<li><a id="meters-link" href="/meters">Meters</a></li>
				<li><a id="settings-link" href="/settings">Settings</a></li>
			</ul>
		</div>

	</header>

	<div class="main-content">

		{% block charts %}{% endblock %} 
		{% block meters %}{% endblock %} 
		{% block settings %}{% endblock %}

		<div class="error page">
			<h3>Sorry, something went wrong :(</h3>
		</div>
		
		<div class="loader"></div>

	</div>

	{% assets "js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}

</body>
</html>
