<div id="main-settings-container">
	<form id="knn-settings-form" method="POST" action="/knn_settings">
		<ul class="settings-list">
			{{ input_form.hidden_tag() }} {% for field in input_form if
			field.widget.input_type != 'hidden' %}
			<li><label>{{ field.label }}</label> {{ field }} 
			{% if field.errors %}
				<ul class="errors">
					{% for error in field.errors %}
					<li>{{ error }}</li> {% endfor %}
				</ul> {% endif %}</li> {% endfor %}
		</ul>
		<div class="settings-buttons-container">
			<!-- button id="meter-image-settings-test-button" class="test-button">Test
				meter settings</button-->
			<button id="knn-settings-save-button" class="save-button">Save</button>
		</div>
	</form>
</div>