{% extends "index.html" %} 
{% block meters %}
<div id="meter-tabs">
  <ul>
    <li><a href="#meter-tabs-images">Images</a></li>
    <li><a href="#meter-tabs-values">Values</a></li>
    <li><a href="#meter-tabs-meter-settings">Meter Settings</a></li>
    <li><a href="#meter-tabs-meter-image-settings">Meter Image Settings</a></li>
    <li><a href="#meter-tabs-knn-settings">KNN Settings</a></li>
    <li><a href="#meter-tabs-knn-data">KNN Data</a></li>
    <li><a href="#meter-tabs-energy-prices">Energy Prices</a></li>
  </ul>
  <div id="meter-tabs-images">
  
  
  
  
  </div>
  <div id="meter-tabs-values">
  </div>
  <div id="meter-tabs-meter-settings">
  </div>
  <div id="meter-tabs-meter-image-settings">
  </div>
  <div id="meter-tabs-knn-settings">
  </div>
  <div id="meter-tabs-knn-data">
  </div>
  <div id="meter-tabs-energy-prices">
  </div>
</div>
{% endblock %}
