{% extends "index.html" %} 
{% block meters %}
<ul class="meters-list">
{% for meter_data in meters %}
	{% for input_form in meter_data['forms'] %}

	<li>
		<div class="meter-container">
		<button id="main-settings-button">{{ input_form[0] }}</button>
			<div id="main-settings-container">
				<form method="POST" action="/meters_">
					<input type="hidden" name="form-name" value="{{ input_form[0] }}">
					<ul class="settings-list">
						{{ input_form[1].hidden_tag() }} {% for field in input_form[1] if
						field.widget.input_type != 'hidden' %}
						<li><label>{{ field.label }}</label> {{ field }} 
						{% if field.errors %}
							<ul class="errors">
								{% for error in field.errors %}
								<li>{{ error }}</li> {% endfor %}
							</ul> {% endif %}</li> {% endfor %}
					</ul>
					<div class="settings-controls-container">
						<div class="settings-image-container"></div>
						<div class="settings-buttons-container">
							<button id="meter-image-settings-save-button" class="save-button">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</li>
	{% endfor %}
{% endfor %}
</ul>
{% endblock %}
