{% extends "index.html" %} 
{% block settings %}

<div id="settings-tabs">
  <ul>
  	<li><a href="#settings-tabs-controls">Controls</a></li>
  	<li><a href="#settings-tabs-1">Database Settings</a></li>
    <li><a href="#settings-tabs-2">Camera Input Settings</a></li>
    <li><a href="#settings-tabs-backup">Backup</a></li>
  </ul>
  <div id="settings-tabs-controls">
  </div>
  <div id="settings-tabs-1">
  </div>
  <div id="settings-tabs-2">
  </div>
  <div id="settings-tabs-backup">
  </div>
</div>

{% endblock %}
